<div class="container">
  <nav class="navbar navbar-expand-lg mb-3">
    <a class="navbar-brand" href="{{ path('home') }}">Symfony 7</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{{ path('show-page', { 'slug' : 'about' }) }}" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="{{ path('show-page', { 'slug' : 'contact' }) }}" class="nav-link">Contact</a>
        </li>

        {% if app.user %}
        <li class="nav-item">
          <a href="{{ path('cabinet') }}" class="nav-link">Cabinet</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a href="{{ path('admin') }}" class="nav-link">Admin panel</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('admin_categories') }}" class="nav-link">Categories</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('admin_posts') }}" class="nav-link">Posts</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('admin_pages') }}" class="nav-link">Pages</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('admin_comments') }}" class="nav-link">Comments</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a href="{{ path('post_create') }}" class="nav-link">Create Post</a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ path('app_login') }}" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_register') }}" class="nav-link">Register</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>
</div>
